<app-top-header></app-top-header>

<!-- MAIN -->
<section class="banner">
    <!-- BANNER HEADER -->
    <!-- <nav class="navbar navbar-expand-md navbar-light bg-light nav-banner">
        <div class="container">
            <button class="navbar-toggler bnr-nvtgl" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContentsb" aria-controls="navbarSupportedContentsb" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="iconmenu">
                    <span class="iconbar">
                    </span>
                    <span class="iconbar icn-sb2">
                    </span>
                    <span class="iconbar icn-sb3">
                    </span>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContentsb">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="javascript:void(0);">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="javascript:void(0);">Services</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="javascript:void(0);">
                            Career
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="javascript:void(0);">Rental</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="javascript:void(0);">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->
    <app-second-menu></app-second-menu>
    <!-- /BANNER HEADER -->
    <div class="sld1 min-het banner-overly" style="background-image: url(../../assets/images/Servicesphoto.jpg);">
        <div class="carousel-caption crsl-mdl">
            <h2>
                Ride with us for TOTAL CARE every time.
            </h2>
        </div>
    </div>
</section>
<!-- /MAIN -->

<section class="sec-3">
    <div class="container">
        <div class="text-center mt-0">
            <h3 class="mb-5">Getting out and about will get easier with Total Care Mobility</h3>
            <p>
                We offer a range of vehicles to meet your requirements; our fleet consists of cars, wheelchair
                accessible vans and 9 seater maxi. We specialise in wheelchair transportation around Christchurch and
                surrounding districts. The best thing about our service is that you can track in Real Time online or
                through our app. We are the largest single owner operated wheelchair fleet in Christchurch. Our vehicles
                are also available for rental services.
            </p>
            <p>
                We are an approved supplier for Total Mobility Scheme – enjoy half price trips, conditions apply
                <span>*</span>.
            </p>
            <p>
                <a href="#" class="link-more"> We are ACC approved vendors VBC220, please request for NZ Total Care
                    Mobility.</a>
            </p>

        </div>
    </div>
</section>


<section class="sec-4">
    <div class="container">
        <div class=" text-center mt-0">
            <h3 class="mb-5">Use Total Mobility for;</h3>
            <ul class="list-for-mobility">
                <li>
                    <i><img src="../../assets/images/icon-airplane.svg" alt="ic"></i> <span>Airport transfers</span>
                </li>
                <li>
                    <i><img src="../../assets/images/icon-cs.svg" alt="ic"></i> <span>Companion Service</span>
                </li>
                <li>
                    <i><img src="../../assets/images/icon-medical-appointment.svg" alt="ic"></i> <span>Medical
                        Appointments</span>
                </li>
                <li>
                    <i><img src="../../assets/images/icon-bus.svg" alt="ic"></i> <span>Long distance transfers, group
                        tours.</span>
                </li>
                <li>
                    <i><img src="../../assets/images/icon-pvh.svg" alt="ic"></i> <span>Private van hire (with or without
                        driver)</span>
                </li>
                <li>
                    <i><img src="../../assets/images/icon-wheelchair.svg" alt="ic"></i> <span>Wheelchair group tour-
                        upto 4 wheelchair accessible van</span>
                </li>
                <li>
                    <i><img src="../../assets/images/icon-school.svg" alt="ic"></i> <span>School Runs</span>
                </li>
                <li>
                    <i><img src="../../assets/images/icon-confetti.svg" alt="ic"></i> <span>Social Event</span>
                </li>
            </ul>
        </div>
    </div>
</section>



<section class="sec-3">
    <div class="container">
        <div class=" text-center mt-0">
            <h3 class="mb-5">Reasons to book with us</h3>
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 col-xl-2 mb-3">
                    <div class="h-100 stack-for-mobility">
                        <i class="icons "><img src="../../assets/images/icon-24-hours.svg" alt=""></i>
                        <p>We operate 24/7 at your convenience. </p>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-2 mb-3">
                    <div class="h-100 stack-for-mobility">
                        <i class="icons "><img src="../../assets/images/icon-insurance.svg" alt=""></i>
                        <p>From the moment you contact us, we will do everything we can to ensure that your booking and
                            transfer to your destination is carried out as smoothly as possible. </p>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-2 mb-3">
                    <div class="h-100 stack-for-mobility">
                        <i class="icons "><img src="../../assets/images/icon-headset.svg" alt=""></i>
                        <p>Friendly call centre team</p>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-2 mb-3">
                    <div class="h-100 stack-for-mobility">
                        <i class="icons "><img src="../../assets/images/icon-money.svg" alt=""></i>
                        <p>We offer competitive rates and we always quote a price at the time of your enquiry so there
                            are no surprises or hidden costs. </p>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-2 mb-3">
                    <div class="h-100 stack-for-mobility">
                        <i class="icons "><img src="../../assets/images/icon-filledoutline.svg" alt=""></i>
                        <p>Professional, friendly and qualified drivers</p>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-2 mb-3">
                    <div class="h-100 stack-for-mobility">
                        <i class="icons "><img src="../../assets/images/icon-delivery-truck.svg" alt=""></i>
                        <p>Real Time tracking of your vehicle </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>