<app-top-header></app-top-header>

<!-- MAIN -->
<section class="banner">
    <!-- BANNER HEADER -->

    <app-second-menu></app-second-menu>
    <!-- /BANNER HEADER -->
    <div class="sld1 min-het  banner-overly" style="background-image:url(../../assets/images/aboutus-image.jpg)">
        <div class="carousel-caption crsl-mdl">
            <h3>
                Meet the team behind the success of NZ Total Care Mobility.
            </h3>
        </div>
    </div>
</section>
<!-- /MAIN -->

<section class="sec-3">
    <div class="container">
        <div class="text-center mt-0">
            <h3 class="mb-5">About Us</h3>
            <p>
                Total Care Mobility was formed in November of 2017. We are the largest single owner operated wheelchair
                service provider in Christchurch and the surrounding districts.
            </p>
            <p>
                <a href="#" class="link-more">We are an ACC approved vendor – VBC220 as well as Work Bridge and National
                    Travel Assistance Provider. </a>
            </p>
            <p>
                Currently we are operating <strong>24/7</strong> including all major Public Holidays. Our vans all carry
                eftpos machines for payment or we are happy to supply you with a fortnightly or monthly invoice with
                detailed travel information.
            </p>
            <p>All our drivers hold Passenger Service <strong>Licences</strong> , are Police cleared and have
                <strong>NZQA</strong> unit standard qualifications in wheelchair transport.
            </p>
            <p>We offer private or group tours both around the City and around Canterbury.</p>
            <p>The best thing about our service is that we have launched our website and customer app which gives you
                the ability to track your driver in Real Time and to book current or future jobs.</p>
        </div>
    </div>
</section>

<section class="sec-4">
    <div class="container">
        <div class=" text-center mt-0">
            <!-- <h3 class="mb-5">Meet the team behind the success of NZ Total Care Mobility.</h3> -->

            <div class="row">
                <div class="col-12">
                    <figure>
                        <img src="../../assets/images/Servicesphoto.jpg" class="img-thumbnail" alt="">
                    </figure>
                </div>
            </div>
            <!-- <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <figure class="m-0 shadow p-2 rounded-lg">
                        <img src="../../assets/images/userone.JPEG" class="w-100 rounded mb-2" alt="">
                        <figcaption>Team member name</figcaption>
                    </figure>

                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <figure class="m-0 shadow p-2 rounded-lg">
                        <img src="../../assets/images/userone.JPEG" class="w-100 rounded mb-2" alt="">
                        <figcaption>Team member name</figcaption>
                    </figure>

                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <figure class="m-0 shadow p-2 rounded-lg">
                        <img src="../../assets/images/userone.JPEG" class="w-100 rounded mb-2" alt="">
                        <figcaption>Team member name</figcaption>
                    </figure>

                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <figure class="m-0 shadow p-2 rounded-lg">
                        <img src="../../assets/images/userone.JPEG" class="w-100 rounded mb-2" alt="">
                        <figcaption>Team member name</figcaption>
                    </figure>

                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <figure class="m-0 shadow p-2 rounded-lg">
                        <img src="../../assets/images/userone.JPEG" class="w-100 rounded mb-2" alt="">
                        <figcaption>Team member name</figcaption>
                    </figure>

                </div>
            </div> -->
        </div>
    </div>
</section>


<app-footer></app-footer>