<div id="content" #content>
  <section class="reciept">

    <div class="row">
      <div class="col-lg-7 col-md-10">
        <div class="panal">
          <div class="panal-body">
            <div class="reciept-top">
              <div class="reciept-top-left">
                <div class="driver-info">
                  <div class="row align-items-center">
                    <div class="col-md-12">
                      <div class="driver-paymentinfo">
                        <label> company name - Total care mobility</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="col-md-12">
                          <label for="">Profile Picture:</label><br />
                          <div class="pic_container">
                            <img src={{image_url}}{{driverImage}} class="profile-img" alt="Avatar" />
                          </div>
                          <br />
                        </div>
                      </div>

                    </div>
                    <div class="col-sm-6">
                      <h5>{{this.drivingLicence}} </h5>
                      <label class="taxi-modal mb-1">{{this.carType}}</label>
                      <div class="driver-info">
                        <span class="driver-name">{{name}}</span>
                        <!-- <span class="driver-rating ml-2"><i class="icon fas fa-star text-green mr-1"></i> 4.5</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="reciept-top-right">
                <div class="driver-paymentinfo">
                  <label>GST Number</label>
                  <p class="billgst-number">129121939</p>
                </div>
                <div class="driver-paymentinfo">
                  <label>Phone Number</label>
                  <p class="billgst-number">0800 00 31 31</p>
                  <p class="billgst-number">03 351 1599 </p>
                </div>
              </div>
            </div>
            <div class="reciept-middle">
              <div class="row">
                <div class="col-md-6">
                  <div class="pickpoint">
                    <span class="pickpoint-label">Pick Up From</span>
                    <label class="d-block pickpoint-area">{{startingPoint}}</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="droppoint">
                    <span class="droppoint-label">Drop</span>
                    <label class="d-block droppoint-area">{{endPoint}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="recipet-detail">
              <table class="table table-borderless" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="50%" class="recipet-detail-label" align="left">Total Distance</td>
                  <td width="50%" class="recipet-detail-value" align="right"> {{distance}}</td>
                </tr>
                <tr>
                  <td width="50%" class="recipet-detail-label" align="left">Est. Time</td>
                  <td width="50%" class="recipet-detail-value" align="right"> {{EstimatedTime}}</td>
                </tr>
                <tr>
                  <td width="50%" class="recipet-detail-label" align="left">Total Fare</td>
                  <td width="50%" class="recipet-detail-value" align="right"><strong>{{fare}}</strong> </td>
                </tr>
                <!-- <tr>
                  <td width="50%" class="recipet-detail-label" align="left">Tax</td>
                  <td width="50%" class="recipet-detail-value" align="right"><strong>{{totalTax}}</strong> </td>
                </tr> -->
                <tr class="total">
                  <td width="50%" class="recipet-detail-label" align="left">Total</td>
                  <td width="50%" class="recipet-detail-value" align="right"><strong
                      class="">${{totalFare}}("price gst incl")</strong> </td>
                </tr>
              </table>
            </div>
            <div class="recipet-bottom">
              <a href="#" class="btn"><i class="icon mr-1 zmdi zmdi-print text-green"></i> Print Recipt</a>
              <a class="btn" (click)="downloadPDF()"><i class="icon mr-1 zmdi zmdi-download text-green"></i> Download
                Recipt</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>