<block-ui>
  <form   [formGroup]="passwordForm" (submit)="update()" >
  <div class="page-title mb-3">
    <h6>Change Password</h6>
</div>
  <div class="change-password">
    <div class="form-group">
      <div class=" field-cover has-icon" [ngClass]="{'has-error': (passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('minlength') || passwordForm.controls['password'].hasError('maxlength')) && isSubmited}">
          <label for="userpassword">
           Current password
           <span class="error ml-1" *ngIf="passwordForm.controls['password'].hasError('required') && isSubmited">(Password is required )</span>
          <span class="error ml-1" *ngIf="passwordForm.controls['password'].hasError('minlength') && isSubmited">(Minimum 8 characters required)</span>
          <span class="error ml-1" *ngIf="passwordForm.controls['password'].hasError('maxlength') && isSubmited">(Maximum 16 characters allowed)</span>
                     </label>
          <i class="zmdi zmdi-lock-open icon"></i>
          <input id="userpassword" formControlName="password" type="password" class="form-control" placeholder="Enter your current password" />
          

      </div>
      </div>
      <div class="form-group">
        <div class=" field-cover has-icon" [ngClass]="{'has-error': (passwordForm.controls['newpassword'].hasError('required') || passwordForm.controls['newpassword'].hasError('minlength') || passwordForm.controls['newpassword'].hasError('maxlength')) && isSubmited}">
            <label for="userpassword">
             New password
             <span class="error ml-1" *ngIf="passwordForm.controls['newpassword'].hasError('required') && isSubmited">(Password is required )</span>
            <span class="error ml-1" *ngIf="passwordForm.controls['newpassword'].hasError('minlength') && isSubmited">(Minimum 8 characters required)</span>
            <span class="error ml-1" *ngIf="passwordForm.controls['newpassword'].hasError('maxlength') && isSubmited">(Maximum 16 characters allowed)</span>
                       </label>
            <i class="zmdi zmdi-lock-open icon"></i>
            <input id="userpassword" formControlName="newpassword" type="password" class="form-control" placeholder="Enter your New password" />
            
  
        </div>
        </div>
     
    
        <div class="form-group">
          <div class=" field-cover has-icon" [ngClass]="{'has-error': (passwordForm.controls['confirmpassword'].hasError('required') || passwordForm.controls['confirmpassword'].hasError('minlength') || passwordForm.controls['confirmpassword'].hasError('maxlength')) && isSubmited}">
              <label for="userpassword">
               Confirm new password
                <span class="error ml-1" *ngIf="passwordForm.controls['confirmpassword'].hasError('required') && isSubmited">(Password is required )</span>
                <span class="error ml-1" *ngIf="passwordForm.controls['confirmpassword'].hasError('minlength') && isSubmited">(Minimum 8 characters required)</span>
                <span class="error ml-1" *ngIf="passwordForm.controls['confirmpassword'].hasError('maxlength') && isSubmited">(Maximum 16 characters allowed)</span>
              </label>
              <i class="zmdi zmdi-lock-open icon"></i>
              <input id="userpassword" formControlName="confirmpassword" type="password" class="form-control" placeholder="Confirm new password" />

          </div>
        </div>
    <div class="form-group">
      <button type="submit" class="btn btn-green-outline btn-lg">Change Password</button>
    </div>

  </div>
</form>
</block-ui>
