<div class="confirm-box">
  <div class="confirm-box-in">
    <div class="confirm-box-header header-red">
      <h2>Your Driver arrives in 5 mins</h2>
    </div>
    <div class="confirm-box-body">
      <div class="row align-items-center">
        <div class="col-5 col-sm-5 col-md-4 col-lg-3">
          <div class="profile-img-wrap">
            <img src="../../assets/images/userimg.jpg" class="profile-img" width="130" alt="" />
          </div>
        </div>
        <div class=" col-7 col-sm-7 col-md-8 col-lg-9">
          <h5>LMW374</h5>
          <h6 class="taxi-modal">White BMW S Class</h6>
          <div class="driver-info">
            <span class="driver-name">John Smith</span>
            <span class="driver-rating"><i class="icon fas fa-star text-green mr-1"></i> 4.5</span>
          </div>
        </div>
      </div>
      <div class="driver-contact">
        <a href="tel:1234553" class="driver-contact-phone driver-contact-btn">
          <i class="icon fas fa-phone-alt"></i> Call Driver
        </a>
        <a href="#" class="driver-contact-phone driver-contact-btn">
          <i class="icon fas fa-comment-alt"></i> Message to Driver
        </a>
      </div>

    </div>
  </div>
</div>
