
<block-ui>

    <div class="login-register-wrap container-fluid">
        <div class="row">
            <div class="col-lg-6 login-register-left">
                <div class="login-register-left-in">
                    <figure class="logo text-center">
                        <img src="assets/images/logo.jpg" alt="logo" />
                    </figure>
                </div>
            </div>
            <div class="col-lg-6  login-register-right">
                <div class="login-register-right-in">
                    
                    <div class="login-register-action">
                        <div class="login-register-title">
                            <h1>Forgot Password? <small class="mt-1">Please enter your registered email Id. We'll sent you a link over the mail</small></h1>
                        </div>
                        <form [formGroup]="forgetForm" (submit)="submitForm()">
                            
                            <div class="form-group field-cover has-icon">
                                <label for="useremail">Email</label>
                                 <i class="far fa-envelope icon"></i>
                                <input id="useremail" tye="email" formControlName='email' class="form-control" placeholder="Enter your email id" />
                                <span class="error-notification" *ngIf="forgetForm.controls['email'].hasError('pattern') && isSubmited">(Email not valid) </span>
                                <span class="error-notification" *ngIf="forgetForm.controls['email'].hasError('required') && isSubmited">(Email is required)</span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-green d-block full-width">Submit</button>
                            </div>
                        </form>
                        
                    </div>
                </div>

                <div class="copyright">
                    &copy; 2020 - totalcab
                </div>
            </div>
        </div>
    </div>
</block-ui>