<nav class="navbar navbar-expand-md navbar-light bg-light nav-banner">
    <div class="container">
        <button class="navbar-toggler bnr-nvtgl" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContentsb" aria-controls="navbarSupportedContentsb" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="iconmenu">
                <span class="iconbar">
                </span>
                <span class="iconbar icn-sb2">
                </span>
                <span class="iconbar icn-sb3">
                </span>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContentsb">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']">Home</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/services']" routerLinkActive="active">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/career']" routerLinkActive="active">Career </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/rental']" routerLinkActive="active">Rental</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/aboutus']" routerLinkActive="active">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active"> Contact </a>
                </li>
            </ul>
        </div>
    </div>
</nav>